body {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    color: white;
    font-size: 25px;
}

.pricepic {
    display: block;
    margin-left: 200px;
    margin-right: auto;
}
body {
    background-image: url(../Pictures/brickwall.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
}