body {
    background-image: url(../Pictures/brickwall.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
}